<div class="wrapper ">
<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<router-outlet></router-outlet>
<footer class="footer footer-static footer-light float-left">
  <p class="clearfix text-muted text-center px-2">
    <span>copyright &copy; 2020 
      <a href="https://borhanaz1379@gmail.com/" id="pixinventLink" target="_blank" class="text-bold-800 primary darken-2">
      BorhanAz
      </a>All right reserved
  </span>
   </p>
</footer>
</div>