<div class="wrapper">
  <!--Registration Page Starts-->
  <section id="regestration">
    <div class="container-fluid">
      <div class="row full-height-vh">
        <div class="col-12 d-flex align-items-center justify-content-center gradient-aqua-marine">
          <div class="card px-4 py-2 box-shadow-2">
            <div class="card-header text-center">
              <img src="../../../../assets/img//logos/logo-color-big.png" alt="company-logo" class="mb-3" width="80">
              <h4 class="text-uppercase text-bold-400 grey darken-1">ثبت نام</h4>
            </div>
            <div class="card-body">
              <div class="card-block mx-auto">
                <form [formGroup]="registerForm" (ngSubmit)="Register()">
                  <div class="form-group">
                    <div class="col-md-12 " >
                      <input formControlName="username" type="text" class="form-control form-control-lg"  placeholder="ایمیل ">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-12">
                      <input formControlName="name" type="text" class="form-control form-control-lg"
                        id="name" placeholder="نام ">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-12">
                      <input formControlName="phoneNumber" type="text" class="form-control form-control-lg"
                         id="phoneNumber" placeholder="شماره تماس ">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-12">
                      <input formControlName="password" type="password" class="form-control form-control-lg"
                        name="password" id="password" placeholder="رمز عبور">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-12">
                      <input formControlName="confirmPassword" type="password" class="form-control form-control-lg"
                        placeholder="تکرار رمز عبور">
                        
                    </div>
                  </div>
                  <div class="form-group col-sm-offset-1">
                    <div class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                      <input formControlName="approveRule" type="checkbox" class="custom-control-input" checked id="terms">
                      <label class="custom-control-label pl-2" for="terms">موافقم<a>شرایط و ضوابط</a></label>
                    </div>
                  </div>
                  <div class="form-group text-center">
                    <button type="submit"
                      class="btn btn-danger px-4 py-2 text-uppercase white font-small-4 box-shadow-2 border-0">شروع
                      کنید</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="card-footer grey darken-1">
              <div class="text-center">آیا حساب کاربری دارید؟ <a [routerLink]="['/auth/login']"><b> ورود</b></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Registration Page Ends-->
</div>