.myvalidatorMessage .validate-input input {
  color: #ff515b;
  border-color: #ff515b;
}
.myvalidatorMessage i {
  color: #ff515b;
}

.validate-input {
  position: relative;
}
.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #ff515b;
  border-radius: 2px;
}
.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}
.alert-validate .material-icons.error_dis {
  position: absolute;
  left: 0;
  top: 11px;
  color: #ca0a0a;
}
