<div class="pageWrapper ">
  <header class="top-head classic full_header fixed-head" data-sticky>


    <div class="container">

      <div class="itr_head_wrap">

        <div class="itr_logo">
          <a href="../index.html" rel="home">

            <img alt="مونزا" class="site_logo" src="../wp-content/themes/munza/assets/images/logo/black-2.png"
              data-orig-logo="../wp-content/themes/munza/assets/images/logo/white-2.png"
              data-sticky="../wp-content/themes/munza/assets/images/logo/black-2.png" width="185">


          </a>
        </div>
        <a href="#" class="itr-responsive-btn"><i class="stline-navigation-menu-vertical"></i></a>
        <nav class="itr_main_nav anim_hover custom">
          <ul id="menu-main-menu" class="">
            <li id="menu-item-9494" class="menu-item menu-item-type-post_type menu-item-object-page">
              <a href="../shop/index.html">
                <span>
                  <span data-hover="تعرفه ها">تعرفه ها</span>
                </span>
              </a>
            </li>
            <li id="menu-item-9494" class="menu-item menu-item-type-post_type menu-item-object-page">
              <a href="../shop/index.html">
                <span>
                  <span data-hover="وبلاگ">وبلاگ</span>
                </span>
              </a>
            </li>
            <li id="menu-item-9494" class="menu-item menu-item-type-post_type menu-item-object-page">
              <a href="../shop/index.html">
                <span>
                  <span data-hover=" توسعه دهندگان"> توسعه دهندگان</span>
                </span>
              </a>
            </li>
            <li id="menu-item-9494" class="menu-item menu-item-type-post_type menu-item-object-page">
              <a href="../shop/index.html">
                <span>
                  <span data-hover="تماس با ما">تماس با ما</span>
                </span>
              </a>
            </li>
            <li id="menu-item-9411"
              class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent hasChildren">
              <a href="#">
                <span>
                  <span data-hover="بیشتر">
                    بیشتر
                    <i class="fa fa-angle-down" aria-hidden="true" style="vertical-align:middle"></i>

                  </span>
                </span>
              </a>
              <ul class="sub-menu">
                <li id="menu-item-9434" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home">
                  <a href="">سوالات متداول</a>
                </li>
                <li id="menu-item-9434" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home">
                  <a href="">درباره ما</a>
                </li>
              </ul>
            </li>
            <li id="menu-item-9494" class="menu-item menu-item-type-post_type menu-item-object-page">
              <a href="../shop/index.html">
                <span>
                  <span data-hover="ورود/ثبت نام">ورود/ثبت نام</span>

                </span>
              </a>
            </li>
          </ul>
        </nav>
        <div class="itr-head-btns">
          <div class="head-btn">
            <a href="#" class="open_search"><i class="stline-search"></i><i class="stline-search btn_back"></i></a>
          </div>

          <!--<div class="head-btn cart-btn">

                            <a href="../cart/index.html" class="cart-btn">
                                <i class="stline-shopping-basket-1"></i><i class="stline-shopping-basket-1 btn_back"></i>
                                <b class="cart-num main-bg white">0</b>
                            </a>

                            <div class="cart-box">
                                <div class="mini-cart">
                                    <ul class="cart_list mini-cart-list product_list_widget">


                                        <li class="empty">سبد خرید شما خالی است.</li>


                                    </ul>

                                </div>
                            </div>

                        </div>-->

          <div class="head-btn ">
            <a href="#" class="slbar_btn"><i class="stline-navigation-menu-2"></i><i
                class="stline-navigation-menu-2 btn_back"></i></a>
          </div>


        </div>

      </div>

    </div>

  </header>
  <div class="pageContent">
    <div class="sm-padding itr_section row_5cd59d3c0d0f1">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-5 vc_custom_1549073434085">
            <h3 class='itr-heading simple head_5cd59d3c0e390 left'>
              <span style="color: #ffffff">سبک جدید </span>
            </h3>
            <h3 class='itr-heading simple head_5cd59d3c0e584 left'>
              <span style="color: #ffffff">پرداخت آنلاین</span>
            </h3>
            <h5 class='itr-heading simple head_5cd59d3c0e6b4 left' style="text-align: justify;line-height: 1.6;">
              <span style="color: #ffffff">زرین‌پال اولین پرداخت‌یار پیشگام در ایران است که با سبک و
                استاندارد جدید در پرداخت آنلاین، مناسب‌ترین سرویس پرداخت الکترونیک برای تمام
                کسب‌وکارهای آنلاین و آفلاین می‌باشد. ما هر روزه میلیاردها تومان پول را بدون
                کوچک‌ترین اشتباهی در بستر وب ایران به گردش در می‌آوریم.</span>
            </h5>
            <a class="btn btn_5cd59d708502f rounded" href="#" title="" target="_self">
              <span><span style="color: #ffffff"></span>اشنایی با ماد پی 724</span>
            </a>
            <a class="btn btn_5cd59d3c0e829 rounded btn-shad" href="#" title="اشنایی با ماد پی 724" target="_self">
              <span>
                <span style="color: #ffffff">
                  <strong>ایجاد حساب / ورود</strong>
                </span>
              </span>
            </a>
          </div>
          <div class="col-md-7">
            <div
              class="wpb_single_image wpb_content_element vc_align_left  wpb_animate_when_almost_visible wpb_fadeInRight fadeInRight vc_custom_1551651301253">

              <figure class="wpb_wrapper vc_figure">
                <div class="vc_single_image-wrapper   vc_box_border_grey">
                  <img width="937" height="697" src="../wp-content/uploads/2019/03/home4_head_lap.png"
                    class="vc_single_image-img attachment-full" alt=""
                    srcset="http://paradigm-shift.ir/munza/wp-content/uploads/2019/03/home4_head_lap.png 937w, http://paradigm-shift.ir/munza/wp-content/uploads/2019/03/home4_head_lap-600x446.png 600w, http://paradigm-shift.ir/munza/wp-content/uploads/2019/03/home4_head_lap-300x223.png 300w, http://paradigm-shift.ir/munza/wp-content/uploads/2019/03/home4_head_lap-768x571.png 768w"
                    sizes="(max-width: 937px) 100vw, 937px" />
                </div>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="md-padding itr_section vc_custom_1550741292412">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h6 class='itr-heading simple head_5cd59d3c10c12 centered'>
              <span style="color: #ef2674">
                با شبکه پرداخت پِی ، به روش خود دریافت کنید ..
              </span>
            </h6>
            <h3 class='itr-heading simple head_5cd59d3c10d86 centered'>
              درگاه پرداخت ، کیف پول، پرداخت با USSD ، فاکتور و فرم پرداخت در اختیار شماست


            </h3>
            <div class="steps_wrap horiz_steps">
              <div class='itr_step stp_5cd59d3c11127'>
                <div class='stp_wrp'>
                  <span class='step_line'>
                    <i class="stline-checklist-pen step_icon  circle">
                    </i>
                  </span>
                  <h4 class="step_title">
                    ثبت نام
                  </h4>
                  <p class="step_content">براحتی چند کلیک د ر سایت ثبت نام کنید ...</p>
                </div>
              </div>
              <div class='itr_step stp_5cd59d3c1126f'>
                <div class='stp_wrp'>
                  <span class='step_line'>
                    <i class="stline-wench-double step_icon  circle"></i>
                  </span>
                  <h4 class="step_title">
                    پروفایلتو تکمیل کن
                  </h4>
                  <p class="step_content">
                    پروفایلتو تکمیل کن و عکس کارت ملیت رو بفرست

                  </p>
                </div>
              </div>
              <div class='itr_step stp_5cd59d3c11375'>
                <div class='stp_wrp'>
                  <span class='step_line'>
                    <i class="stline-seo-search-laptop step_icon  circle"></i>
                  </span>
                  <h4 class="step_title">
                    به همین سادگی تموم شد
                  </h4>
                  <p class="step_content">
                    حالا دیگه میتونی درگاه پرداخت خودتو داشته باشی

                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="md-padding itr_section skew_bg vc_custom_1554798007227 row_5cd59d3c11ad6">
      <div class="container">
        <div class="row">
          <div class="col-md-6 vc_custom_1550746661362">
            <h3 class='itr-heading style2 head_5cd59d3c120e7 left'>با <span style="color: #ef2674">ما</span></h3>
            <div class="wpb_text_column wpb_content_element  vc_custom_1554372234395">
              <div class="wpb_wrapper">
                <p>
                  برای رشد کسب و کار پذیرندگان، ما مثل شما فکر میکنیم تا بتونیم بهترین ابزارها و
                  راه حل ها رو آماده کنیم


                </p>

              </div>
            </div>
            <div class="vc_progress_bar wpb_content_element  vc_progress-bar-color-bar_grey prog1 square">
              <div class="vc_single_bar ">
                <h6 class="vc_label">شروع کار</h6>
                <span class="vc_bar " data-percentage-value="40" data-value="40" style="background-color: #ff2a2a;">
                  <span class="vc_label_units">۴۰%</span>
                </span>
              </div>
              <div class="vc_single_bar ">
                <h6 class="vc_label">اتصال درگاه به ما</h6>
                <span class="vc_bar " data-percentage-value="68" data-value="68" style="background-color: #ef2674;">
                  <span class="vc_label_units">۶۸%</span>
                </span>
              </div>
              <div class="vc_single_bar ">
                <h6 class="vc_label">فروش محصولات </h6>
                <span class="vc_bar " data-percentage-value="85" data-value="85" style="background-color: #3da6ff;">
                  <span class="vc_label_units">۸۵%</span>
                </span>
              </div>
              <div class="vc_single_bar ">
                <h6 class="vc_label">موفقیت</h6>
                <span class="vc_bar " data-percentage-value="100" data-value="100" style="background-color: #49bd61;">
                  <span class="vc_label_units">۱۰۰%</span>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <h3 class='itr-heading style2 head_5cd59d3c12e3e left'>
              <span style="color: #000000">
                <span style="color: #000000">آنچه</span>
                <span style="color: #ffffff">مردم می گویند!!</span>
              </span>
            </h3>
            <div class="container">
              <div class="row vc_custom_1552227527054">
                <div class="col-md-12">
                  <div
                    class='itr-testimonials testi-5cd59d3c14d03 itr-testimonial-1 itr-carousel-slider bullets-1 cust_nxt cust_prv'
                    data-type='horizontal' data-slidesnum='1' data-scamount='1' data-speed='500'
                    data-arrow-shape='circle' data-next-icon='fa fa-chevron-right' data-prev-icon='fa fa-chevron-left'>
                    <div class="">
                      <div class="itr-blockquote itm-5cd59d3c14eb0">
                        <div class="testi_content">
                          <div class="quote_abs">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44.44 28.27">
                              <path class="cls-1" d="M5.48,0H22.54L12.73,28.27H0Zm22,0H44.44L34.76,28.27H22Z" />
                            </svg>
                          </div>
                          <div class="testi_desc">
                            <span style="color: #ffffff">لورم ایپسوم متن ساختگی با تولید
                              سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                              است. چاپگرها و متون بلکه روزنامه و مجله در ستون و
                              سطرآنچنان که لازم است</span>
                          </div>
                        </div>
                        <div class="testi_holder">
                          <div class="testi_img rounded"><img class="test-img-70x70" alt=""
                              src="../wp-content/uploads/2019/03/testo1.jpg">
                          </div>
                          <div class="testi_slug">
                            <h5 class="testi_author">آرش خادملو</h5> <span class="testi_slogan">لیدر تیم</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="">
                      <div class="itr-blockquote itm-5cd59d3c1581c">
                        <div class="testi_content">
                          <div class="quote_abs"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44.44 28.27">
                              <path class="cls-1" d="M5.48,0H22.54L12.73,28.27H0Zm22,0H44.44L34.76,28.27H22Z" />
                            </svg></div>
                          <div class="testi_desc">
                            <span style="color: #ffffff">لورم ایپسوم متن ساختگی با تولید
                              سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                              است. چاپگرها و متون بلکه روزنامه و مجله در ستون و
                              سطرآنچنان که لازم است</span>
                          </div>
                        </div>
                        <div class="testi_holder">
                          <div class="testi_img rounded">
                            <img class="test-img-70x70" alt="" src="../wp-content/uploads/2019/03/testo2.jpg">
                          </div>
                          <div class="testi_slug">
                            <h5 class="testi_author">آرش خادملو</h5>
                            <span class="testi_slogan">لیدر تیم</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="">
                      <div class="itr-blockquote itm-5cd59d3c15fea">
                        <div class="testi_content">
                          <div class="quote_abs">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44.44 28.27">
                              <path class="cls-1" d="M5.48,0H22.54L12.73,28.27H0Zm22,0H44.44L34.76,28.27H22Z" />
                            </svg>
                          </div>
                          <div class="testi_desc"><span style="color: #ffffff">لورم ایپسوم
                              متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                              استفاده از طراحان گرافیک است. چاپگرها و متون بلکه
                              روزنامه و مجله در ستون و سطرآنچنان که لازم است</span>
                          </div>
                        </div>
                        <div class="testi_holder">
                          <div class="testi_img rounded">
                            <img class="test-img-70x70" alt="" src="../wp-content/uploads/2019/03/testo3.jpg">
                          </div>
                          <div class="testi_slug">
                            <h5 class="testi_author">آرش خادملو</h5>
                            <span class="testi_slogan">لیدر تیم</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="md-padding itr_section skew_bg row_5cd59d2044327">
      <div class="container">
        <div class="row">
          <div class="col-md-7 vc_custom_1552694164696">
            <h3 class="itr-heading simple left">
              استانداردهای
              <span style="color: #ef2674">پرداخت آنلاین</span> …
            </h3>
            <div class="container">
              <div class="row vc_custom_1550252895133">
                <div class="col-md-6 vc_custom_1546728345444">
                  <div class="itr-icon-box icbx_5cd59d2045105 itr_side_icn icon-left text-left">
                    <div class="box_icon custom"><i class="stline-aircraft-military-plane"></i>
                    </div>
                    <div class="box_content">
                      <h5 class="box_title">
                        ضمانت پرداخت
                      </h5>
                      <p class="box_text">
                        یکی از روش‌های موثر برای کاهش درد پرداخت، تضمین بازگشت وجه به خریدار
                        است. ضمانت پرداخت زرین‌پال در خریدار ایجاد اطمینان می‌کند.


                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 vc_custom_1546728351507">
                  <div class="itr-icon-box icbx_5cd59d204570f itr_side_icn icon-left text-left">
                    <div class="box_icon custom">
                      <i class="stline-layout-dashboard"></i>
                    </div>
                    <div class="box_content">
                      <h5 class="box_title">
                        مسیردهی هوشمند
                      </h5>
                      <p class="box_text">
                        متریک‌های متفاوت زرین‌پال در بازه‌های زمانی مختلف باعث می‌شود
                        کاربران به بهترین درگاه پرداخت با بالاترین میزان موفق بودن تراکنش
                        هدایت می‌شوند.


                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="vc-zigzag-wrapper vc-zigzag-align-center">
              <div class="vc-zigzag-inner"
                style="width: 100%;min-height: 10px;background: 0 repeat-x url(%27data_image/svg%2bxml%3butf-8%2c__xml%20version%3d_1.0_%20encoding%3d_utf/W3C/DTD%20SVG%201.1/EN_%20_http_/www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd___svg%20width%3d_10px_/svg_%27.43.delaye);">
              </div>
            </div>
            <div class="container">
              <div class="row vc_custom_1550252884668">
                <div class="col-md-6 vc_custom_1546728357179">
                  <div class="itr-icon-box icbx_5cd59d2046682 itr_side_icn icon-left text-left">
                    <div class="box_icon custom"><i class="stline-checklist-pen"></i></div>
                    <div class="box_content">
                      <h5 class="box_title">پشتیبانی</h5>
                      <p class="box_text">
                        همراه طلایی بودن به واسطه‌ی پشتیبانی ۲۴ ساعته و وجود متنوع‌ترین
                        پلاگین‌های پرداخت، می‌توانند معرف خوبی از عبارت زرین‌پال باشند.

                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 vc_custom_1546728365043">
                  <div class="itr-icon-box icbx_5cd59d2046c88 itr_side_icn icon-left text-left">
                    <div class="box_icon custom">
                      <i class="stline-text-format"></i>
                    </div>
                    <div class="box_content">
                      <h5 class="box_title">امنیت</h5>
                      <p class="box_text">
                        در تجارت الکترونیک استقرار امنیت حکم ستون نگه‌دارنده‌ای را دارد که
                        اگر نباشد همه چیز فرو خواهد ریخت. زرین‌پال تکیه‌گاه محکمی است.


                      </p>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5 vc_custom_1552694183777">
            <div class="wpb_single_image wpb_content_element vc_align_right">

              <figure class="wpb_wrapper vc_figure">
                <div class="vc_single_image-wrapper   vc_box_border_grey">
                  <img width="598" height="646" src="wp-content/uploads/2019/03/ppl6.png"
                    class="vc_single_image-img attachment-full" alt=""
                    srcset="http://paradigm-shift.ir/munza/wp-content/uploads/2019/03/ppl6.png 598w, http://paradigm-shift.ir/munza/wp-content/uploads/2019/03/ppl6-450x486.png 450w, http://paradigm-shift.ir/munza/wp-content/uploads/2019/03/ppl6-278x300.png 278w"
                    sizes="(max-width: 598px) 100vw, 598px">
                </div>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="md-padding itr_section skew_bg skew-center vc_custom_1552256739333 row_5cd59d3c20dd0">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h3 class='itr-heading style2 centered'>آخرین مطالب <span style="color: #ef2674">وبلاگ</span> &#8230;</h3>
            <div id='caros_5cd59d3c21c90' class='itr-carousel-slider multi-slides bullets-2' data-type='horizontal'
              data-slidesnum='4' data-scamount='1' data-speed='500' data-dots='1' data-auto='1'
              data-arrow-shape='circle' data-next-icon='fa fa-chevron-right' data-prev-icon='fa fa-chevron-left'>
              <div class="wpb_single_image wpb_content_element vc_align_center">
                <div id="febx_5cd59d3c273d7" class="itr-feature text-center style1">
                  <figure class="feature-img rounded">
                    <img width="349" height="349" src="../wp-content/uploads/2019/03/feat2.jpg" class="attachment-large"
                      alt=""
                      srcset="http://paradigm-shift.ir/munza/wp-content/uploads/2019/03/feat2.jpg 349w, http://paradigm-shift.ir/munza/wp-content/uploads/2019/03/feat2-300x300.jpg 300w, http://paradigm-shift.ir/munza/wp-content/uploads/2019/03/feat2-100x100.jpg 100w, http://paradigm-shift.ir/munza/wp-content/uploads/2019/03/feat2-150x150.jpg 150w"
                      sizes="(max-width: 349px) 100vw, 349px">
                  </figure>
                  <h4 class="feature_title">سفر به آینده</h4>
                  <h6 class="feature_sub main-color">ما عاشق کاری که میکنیم هستیم!</h6>
                  <div class="feature_content">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                    صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه</div>
                </div>
              </div>

              <div class="wpb_single_image wpb_content_element vc_align_center">

                <div id="febx_5cd59d3c273d7" class="itr-feature text-center style1">
                  <figure class="feature-img rounded"><img width="349" height="349"
                      style="text-align:center;display:inline-block" src="../wp-content/uploads/2019/03/feat2.jpg"
                      class="attachment-large" alt=""
                      srcset="http://paradigm-shift.ir/munza/wp-content/uploads/2019/03/feat2.jpg 349w, http://paradigm-shift.ir/munza/wp-content/uploads/2019/03/feat2-300x300.jpg 300w, http://paradigm-shift.ir/munza/wp-content/uploads/2019/03/feat2-100x100.jpg 100w, http://paradigm-shift.ir/munza/wp-content/uploads/2019/03/feat2-150x150.jpg 150w"
                      sizes="(max-width: 349px) 100vw, 349px"></figure>
                  <h4 class="feature_title">سفر به آینده</h4>
                  <h6 class="feature_sub main-color">ما عاشق کاری که میکنیم هستیم!</h6>
                  <div class="feature_content">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                    صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه</div>
                </div>
              </div>

              <div class="wpb_single_image wpb_content_element vc_align_center">
                <div id="febx_5cd59d3c273d7" class="itr-feature text-center style1">
                  <figure class="feature-img rounded"><img width="349" height="349"
                      style="text-align:center;display:inline-block" src="../wp-content/uploads/2019/03/feat2.jpg"
                      class="attachment-large" alt=""
                      srcset="http://paradigm-shift.ir/munza/wp-content/uploads/2019/03/feat2.jpg 349w, http://paradigm-shift.ir/munza/wp-content/uploads/2019/03/feat2-300x300.jpg 300w, http://paradigm-shift.ir/munza/wp-content/uploads/2019/03/feat2-100x100.jpg 100w, http://paradigm-shift.ir/munza/wp-content/uploads/2019/03/feat2-150x150.jpg 150w"
                      sizes="(max-width: 349px) 100vw, 349px"></figure>
                  <h4 class="feature_title">سفر به آینده</h4>
                  <h6 class="feature_sub main-color">ما عاشق کاری که میکنیم هستیم!</h6>
                  <div class="feature_content">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                    صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه</div>
                </div>
              </div>

              <div class="wpb_single_image wpb_content_element vc_align_center">

                <div id="febx_5cd59d3c273d7" class="itr-feature text-center style1">
                  <figure class="feature-img rounded"><img width="349" height="349"
                      style="text-align:center;display:inline-block" src="../wp-content/uploads/2019/03/feat2.jpg"
                      class="attachment-large" alt=""
                      srcset="http://paradigm-shift.ir/munza/wp-content/uploads/2019/03/feat2.jpg 349w, http://paradigm-shift.ir/munza/wp-content/uploads/2019/03/feat2-300x300.jpg 300w, http://paradigm-shift.ir/munza/wp-content/uploads/2019/03/feat2-100x100.jpg 100w, http://paradigm-shift.ir/munza/wp-content/uploads/2019/03/feat2-150x150.jpg 150w"
                      sizes="(max-width: 349px) 100vw, 349px"></figure>
                  <h4 class="feature_title">سفر به آینده</h4>
                  <h6 class="feature_sub main-color">ما عاشق کاری که میکنیم هستیم!</h6>
                  <div class="feature_content">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                    صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه</div>
                </div>
              </div>

              <div class="wpb_single_image wpb_content_element vc_align_center">
                <div id="febx_5cd59d3c273d7" class="itr-feature text-center style1">
                  <figure class="feature-img rounded"><img width="349" height="349"
                      style="text-align:center;display:inline-block" src="../wp-content/uploads/2019/03/feat2.jpg"
                      class="attachment-large" alt=""
                      srcset="http://paradigm-shift.ir/munza/wp-content/uploads/2019/03/feat2.jpg 349w, http://paradigm-shift.ir/munza/wp-content/uploads/2019/03/feat2-300x300.jpg 300w, http://paradigm-shift.ir/munza/wp-content/uploads/2019/03/feat2-100x100.jpg 100w, http://paradigm-shift.ir/munza/wp-content/uploads/2019/03/feat2-150x150.jpg 150w"
                      sizes="(max-width: 349px) 100vw, 349px"></figure>
                  <h4 class="feature_title">سفر به آینده</h4>
                  <h6 class="feature_sub main-color">ما عاشق کاری که میکنیم هستیم!</h6>
                  <div class="feature_content">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                    صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sm-padding itr_section skew_bg skew-right vc_custom_1554797990844 row_5cd59d3c1e9ef">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h3 class='itr-heading simple head_5cd59d3c1f018 left'>
              <span style="color: #ffffff">آنچه </span>
            </h3>
            <h4 class='itr-heading simple head_5cd59d3c1f1bb left'>
              <span style="color: #ffffff">باید بدانید..</span>
            </h4>
          </div>
          <div class="col-md-9 vc_custom_1552256877042">
            <div class="container">
              <div class="row">
                <div class="col-md-4">
                  <i class='hidden itr-hid-chrt-icon stline-bookmarks-document'></i>
                  <div id='chrt_5cd59d3c1fd36' class='itr-circle-pie line-round' data-percentage="65"
                    data-text="استفاده از درگاه های واسط" data-icon="stline-bookmarks-document"></div>
                </div>
                <div class="col-md-4">
                  <i class='hidden itr-hid-chrt-icon stline-satellite'></i>
                  <div id='chrt_5cd59d3c20182' class='itr-circle-pie line-round' data-percentage="95"
                    data-text="امکانات" data-icon="stline-satellite"></div>
                </div>
                <div class="col-md-4">
                  <i class='hidden itr-hid-chrt-icon stline-multiple-man-woman-1'></i>
                  <div id='chrt_5cd59d3c205ab' class='itr-circle-pie line-round' data-percentage="90"
                    data-text="رضایتمندی شما" data-icon="stline-multiple-man-woman-1"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="md-padding itr_section skew_bg skew-center vc_custom_1552256739333 row_5cd59d3c20dd0">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h3 class='itr-heading style2 centered'>مشتریان <span style="color: #ef2674">ما</span>
              &#8230;</h3>
            <div id='caros_5cd59d3c21c90' class='itr-carousel-slider multi-slides bullets-2' data-type='horizontal'
              data-slidesnum='4' data-scamount='1' data-speed='500' data-dots='1' data-auto='1'
              data-arrow-shape='circle' data-next-icon='fa fa-chevron-right' data-prev-icon='fa fa-chevron-left'>
              <div class="wpb_single_image wpb_content_element vc_align_center">

                <figure class="wpb_wrapper vc_figure">
                  <a href="#" target="_self" class="vc_single_image-wrapper   vc_box_border_grey"><img width="188"
                      height="95" src="../wp-content/uploads/2019/03/client1.png"
                      class="vc_single_image-img attachment-full" alt=""></a>
                </figure>
              </div>

              <div class="wpb_single_image wpb_content_element vc_align_center">

                <figure class="wpb_wrapper vc_figure">
                  <a href="#" target="_self" class="vc_single_image-wrapper   vc_box_border_grey"><img width="188"
                      height="95" src="../wp-content/uploads/2019/03/client2.png"
                      class="vc_single_image-img attachment-full" alt=""></a>
                </figure>
              </div>

              <div class="wpb_single_image wpb_content_element vc_align_center">

                <figure class="wpb_wrapper vc_figure">
                  <a href="#" target="_self" class="vc_single_image-wrapper   vc_box_border_grey"><img width="188"
                      height="95" src="../wp-content/uploads/2019/03/client3.png"
                      class="vc_single_image-img attachment-full" alt=""></a>
                </figure>
              </div>

              <div class="wpb_single_image wpb_content_element vc_align_center">

                <figure class="wpb_wrapper vc_figure">
                  <a href="#" target="_self" class="vc_single_image-wrapper   vc_box_border_grey"><img width="188"
                      height="95" src="../wp-content/uploads/2019/03/client4.png"
                      class="vc_single_image-img attachment-full" alt=""></a>
                </figure>
              </div>

              <div class="wpb_single_image wpb_content_element vc_align_center">

                <figure class="wpb_wrapper vc_figure">
                  <a href="#" target="_self" class="vc_single_image-wrapper   vc_box_border_grey"><img width="188"
                      height="95" src="../wp-content/uploads/2019/03/client5.png"
                      class="vc_single_image-img attachment-full" alt=""></a>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <span class="ino_url hidden">http://paradigm-shift.ir/munza/wp-content</span>
  <footer id="footWrapper" class="footer-1 has-top-area">

    <svg version="1.1" data-id="foot_grad" class="slurve-definitions" xmlns="http://www.w3.org/2000/svg">
      <defs>
        <linearGradient id="foot_grad" gradientTransform="rotate(0)">
          <stop offset="0%" stop-color="#b400ff" />
          <stop offset="100%" stop-color="#3f0a9e" />
        </linearGradient>
      </defs>
    </svg>
    <div class="foot-top">
      <div class="container slurve" data-slurve="0,0,10 0,0,10 0,0,10 0,80,10">
        <div class="slurve dashed_border" data-slurve="0,0,10 0,0,10 0,0,10 0,85,10"></div>
        <div class="row row-eq-height center_vert">
          <div class="col-md-6 top-foot-nl-txt">
            <div class="nl-left-txt">
              <h4>از ماد پی 724 خوشتون اومد ؟ :)</h4>
              <p>منتظر نمونید ... همین حالا امتحان کنید!</p>
            </div>
          </div>
          <div class="col-md-6 text-right top-foot-nl-form">

            <a class="btn bold main-bg round big_shadow" href="https://www.rtl-theme.com/author/paradigmshift/">
              <span>ایجاد حساب / ورود</span>
            </a>

          </div>
        </div>
      </div>
    </div>

    <div class="footer_bg">
      <div class="slurve foot_slrv" data-slurve="0,60 -100,-150,50 0,0 0,0"></div>
      <div class="footer-middle">
        <div class="container">
          <div class=" row row-eq-height">
            <div class="widget widget_it_widget_image_text col-md-3">
              <div class="foot-image">
                <img alt="" src="../wp-content/themes/munza/assets/images/logo/white-2.png" style="height: 60px;" />
              </div>
              <p class="widget-txt" style="text-align:justify">
                زمانی که پرداخت آنلاین در ایران پدیده‌ای نوپا محسوب می‌شد و داشتن درگاه پرداخت
                اینترنتی برای شروع یک کسب‌و‌کار آنلاین با دشواری همراممکن شروع به فعالیت کرد.

              </p>
            </div>
            <div class="widget widget_it_widget_footer_socials col-md-3">
              <h2 class="widgettitle">شبکه اجتماعی.</h2>
              <div class="social-list">
                <a href='#' target="_blank">
                  <i class='stline-social-media-facebook'></i>
                  <i class='stline-social-media-facebook'></i>
                </a><a href='#' target="_blank"><i class='stline-social-media-google-plus-1'></i><i
                    class='stline-social-media-google-plus-1'></i></a><a href='#' target="_blank"><i
                    class='stline-social-media-twitter'></i><i class='stline-social-media-twitter'></i></a><a href='#'
                  target="_blank"><i class='stline-social-instagram-1'></i><i
                    class='stline-social-instagram-1'></i></a><a href='#' target="_blank"><i
                    class='stline-social-video-youtube'></i><i class='stline-social-video-youtube'></i></a><a href='#'
                  target="_blank"><i class='stline-developer-community-github-1'></i><i
                    class='stline-developer-community-github-1'></i></a><a href='#' target="_blank"><i
                    class='stline-feed-sina-weibo'></i><i class='stline-feed-sina-weibo'></i></a><a href='#'
                  target="_blank"><i class='stline-social-pinterest'></i><i class='stline-social-pinterest'></i></a>
              </div>
            </div>
            <div class="widget widget_nav_menu col-md-3">
              <h2 class="widgettitle">لینک های مفید.</h2>
              <div class="menu-footer-menu-container">
                <ul id="menu-footer-menu" class="menu">
                  <li id="menu-item-9478"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-9478">
                    <a href="../index.html">صفحه اصلی</a></li>
                  <li id="menu-item-9478"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-9478">
                    <a href="../index.html">سوالات متداول</a></li>
                  <li id="menu-item-9479"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9479">
                    <a href="../blog/index.html">وبلاگ ما</a></li>
                  <li id="menu-item-9480"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9480">
                    <a href="../services/index.html">تعرفه ها</a></li>
                  <li id="menu-item-9360"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9360">
                    <a href="../about-us/index.html">درباره ما</a></li>
                  <li id="menu-item-9034"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9034">
                    <a href="#">تماس با ما</a></li>
                </ul>
              </div>
            </div>
            <div class="widget widget_it_widget_newsletters col-md-3">
              <h2 class="widgettitle">خبرنامه.</h2>
              <p class="foot-about-par">یا وارد کردن ایمیل خود در سریع ترین زمان از اخرین اخبار و
                مقالات ما با خبر شوید ...</p>
              <div class='nl_form_div'>
                <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-16" method="post" data-id="16"
                  data-name="Newsletters">
                  <div class="mc4wp-form-fields">
                    <input type="email" name="EMAIL" placeholder="آدرس ایمیل شما" required />
                    <button type="submit" class="nl_btn anim_btn to-right">
                      <span><i class="fa fa-long-arrow-right"></i><i class="fa fa-long-arrow-right btn_back"></i></span>
                    </button>
                  </div><label style="display: none !important;">Leave this field empty if you're
                    human: <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1"
                      autocomplete="off" /></label><input type="hidden" name="_mc4wp_timestamp"
                    value="1557503292" /><input type="hidden" name="_mc4wp_form_id" value="16" /><input type="hidden"
                    name="_mc4wp_form_element_id" value="mc4wp-form-1" />
                  <div class="mc4wp-response"></div>
                </form><!-- / Mailchimp for WordPress Plugin -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="footer-bottom">
        <div class="container">
          <div class=" row row-eq-height">


            <div class="widget_text widget widget_custom_html col-md-6">
              <div class="textwidget custom-html-widget">© 1398 تمام حقوق برای ماد پی 724 محفوظ میباشد
              </div>
            </div>
            <div class="widget widget_nav_menu col-md-6">
              <div class="menu-footer-menu-2-container">
                <ul id="menu-footer-menu-2" class="menu">
                  <li id="menu-item-9023"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9023">
                    <a href="#">حریم خصوصی</a></li>
                  <li id="menu-item-9410"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9410">
                    <a href="#">شرایط استفاده</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </footer>
  <a id="to-top" href="#"><span><i class="stline-arrow-up"></i><i class="stline-arrow-up btn_back"></i></span></a>
</div>
<div class="itr_overlay"></div>
<div class="slbar columns-4">
  <a href="#" class="slbar_close">
    <span class="itr-cls-line itr-cls-line-cross01">
      <span class="itr-cls-line-in itr-cls-line-in-cross01"></span>
    </span>
    <span class="itr-cls-line itr-cls-line-cross02">
      <span class="itr-cls-line-in itr-cls-line-in-cross02"></span>
    </span>
  </a>
  <div class="sl_bar_content">
    <div class="widget widget_recent_entries">
      <h2 class="widgettitle">نوشته‌های تازه</h2>
      <ul>
        <li>
          <a href="../it-all-about-technology/index.html">همه چیز در مورد تکنولوژی است</a>
        </li>
        <li>
          <a href="../festival-hands-up-people-partying/index.html">جشنواره مردم عروسی</a>
        </li>
        <li>
          <a href="../snow-covered-trees-in-winter/index.html">بارش برف در زمستان</a>
        </li>
        <li>
          <a href="../gallery-grid-post-format/index.html">قالب پست گالری شبکه ای</a>
        </li>
        <li>
          <a href="../quote-jersey-family-to-split-jackpot/index.html">نقل قول: خانواده جرزی به تقسیم
            جکپات</a>
        </li>
      </ul>
    </div>
    <div class="widget widget_recent_comments">
      <h2 class="widgettitle">آخرین دیدگاه‌ها</h2>
      <ul id="recentcomments">
        <li class="recentcomments"><span class="comment-author-link">اسدی</span> در <a
            href="../it-rays-website-has-been-launched/index.html#comment-6">وب سایت ما راه اندازی شده
            است</a></li>
        <li class="recentcomments"><span class="comment-author-link">اسدی</span> در <a
            href="../product/long-sleeve-tee/index.html#comment-5">محصول شماره ۸</a></li>
        <li class="recentcomments"><span class="comment-author-link">مدیر</span> در <a
            href="../snow-covered-trees-in-winter/index.html#comment-4">بارش برف در زمستان</a></li>
        <li class="recentcomments"><span class="comment-author-link">مدیر</span> در <a
            href="../snow-covered-trees-in-winter/index.html#comment-3">بارش برف در زمستان</a></li>
        <li class="recentcomments"><span class="comment-author-link">مدیر</span> در <a
            href="../it-all-about-technology/index.html#comment-2">همه چیز در مورد تکنولوژی است</a></li>
      </ul>
    </div>
    <div class="widget widget_archive">
      <h2 class="widgettitle">بایگانی</h2>
      <ul>
        <li><a href='../2018/01/index.html'>ژانویه 2018</a></li>
        <li><a href='../2017/10/index.html'>اکتبر 2017</a></li>
      </ul>
    </div>
    <div class="widget widget_categories">
      <h2 class="widgettitle">دسته‌ها</h2>
      <ul>
        <li class="cat-item cat-item-7">
          <a href="../category/world/index.html">جهان</a>
        </li>
        <li class="cat-item cat-item-4">
          <a href="../category/life-style/index.html">سبک زندگی</a>
        </li>
        <li class="cat-item cat-item-3">
          <a href="../category/entertainment/index.html">سرگرمی</a>
        </li>
        <li class="cat-item cat-item-2">
          <a href="../category/commerce/index.html">فروشگاه</a>
        </li>
        <li class="cat-item cat-item-5">
          <a href="../category/technology/index.html">فن آوری</a>
        </li>
      </ul>
    </div>
  </div>
  <svg class="itr-slbar-over" viewBox="0 0 100 100" preserveAspectRatio="none">
    <defs>
      <linearGradient id="slbar-grad1" x1="0%" y1="0%" x2="0%" y2="100%">
        <stop offset="0%" stop-color="#00c99b" />
        <stop offset="100%" stop-color="#ff0ea1" />
      </linearGradient>
      <linearGradient id="slbar-grad2" x1="0%" y1="0%" x2="0%" y2="100%">
        <stop offset="0%" stop-color="#ffd392" />
        <stop offset="100%" stop-color="#ff3898" />
      </linearGradient>
      <linearGradient id="slbar-grad3" x1="0%" y1="0%" x2="0%" y2="100%">
        <stop offset="0%" stop-color="#110046" />
        <stop offset="100%" stop-color="#32004a" />
      </linearGradient>
    </defs>
    <path class="itr-slbar-over-path" d=""></path>
    <path class="itr-slbar-over-path" d=""></path>
    <path class="itr-slbar-over-path" d=""></path>
  </svg>
</div>
<div class="search-wrapper main-bg">
  <span class="close_search"><i class="stline-remove-bold"></i></span>
  <form role="search" method="get" action="http://paradigm-shift.ir/munza/" class="search-form">
    <input type="text" class="form-control" value="" name="s" placeHolder="جستجو کلید واژه  ..." />
    <button type="submit" class="btn main-color"><i class="fa fa-search"></i></button>
  </form>
</div>
<div class="md-overlay"></div>
<router-outlet></router-outlet>