.icbx_5cd59d202be12 {
  padding-top: 80px;
  padding-right: 40px;
  padding-bottom: 95px;
  padding-left: 40px;
}
.icbx_5cd59d202be12 > svg.slurve-svg,
.icbx_5cd59d202be12 > svg.slurve-svg path {
  fill: none;
  stroke: #c6c6c6;
  stroke-width: 1px;
}
.icbx_5cd59d202be12 .box_icon {
  border-width: 1px;
  line-height: calc(var(--height) - 1px) !important;
}
.icbx_5cd59d202be12:hover .box_icon {
}
.icbx_5cd59d202be12 .box_more {
  color: #ef2674;
}
.icbx_5cd59d202be12 .box_more:hover {
  color: #222222;
}
.icbx_5cd59d202be12 .box_more:hover:after,
.icbx_5cd59d202be12 .box_more:hover:before {
  border-color: #ef2674;
}
.icbx_5cd59d202cb38 {
  padding-top: 65px;
  padding-right: 40px;
  padding-bottom: 80px;
  padding-left: 40px;
}
.icbx_5cd59d202cb38 > svg.slurve-svg,
.icbx_5cd59d202cb38 > svg.slurve-svg path {
  fill: #edf6fc;
}
.icbx_5cd59d202cb38 .box_icon {
  border-width: 1px;
  line-height: calc(var(--height) - 1px) !important;
}
.icbx_5cd59d202cb38:hover .box_icon {
}
.icbx_5cd59d202cb38 .box_more {
  color: #ef2674;
}
.icbx_5cd59d202cb38 .box_more:hover {
  color: #222222;
}
.icbx_5cd59d202cb38 .box_more:hover:after,
.icbx_5cd59d202cb38 .box_more:hover:before {
  border-color: #ef2674;
}
.icbx_5cd59d202d6ad {
  padding-top: 50px;
  padding-right: 40px;
  padding-bottom: 60px;
  padding-left: 40px;
}
.icbx_5cd59d202d6ad > svg.slurve-svg,
.icbx_5cd59d202d6ad > svg.slurve-svg path {
  fill: none;
  stroke: #c6c6c6;
  stroke-width: 1px;
}
.icbx_5cd59d202d6ad .box_icon {
  border-width: 1px;
  line-height: calc(var(--height) - 1px) !important;
}
.icbx_5cd59d202d6ad:hover .box_icon {
}
.icbx_5cd59d202d6ad .box_more {
  color: #ef2674;
}
.icbx_5cd59d202d6ad .box_more:hover {
  color: #222222;
}
.icbx_5cd59d202d6ad .box_more:hover:after,
.icbx_5cd59d202d6ad .box_more:hover:before {
  border-color: #ef2674;
}
.row_5cd59d202e5b4:after {
  background-color: #edf6fc;
  width: 96%;
  height: 100%;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  -webkit-transform: skew(0deg, -6deg);
  transform: skew(0deg, -6deg);
  top: 0%;
}
.row_5cd59d202e5b4 {
  z-index: 1;
}
.itr_list_5cd59d2030cde > i {
  color: #1c0580;
  background-color: #d6e4ed;
  font-size: 15px;
  width: 42px;
  height: 42px;
  line-height: 42px;
}
.itr_list_5cd59d2030dfc > i {
  color: #ffffff;
  background-color: #ef2674;
  font-size: 15px;
  width: 42px;
  height: 42px;
  line-height: 42px;
}
.itr_list_5cd59d2030ef3 > i {
  color: #1c0580;
  background-color: #d6e4ed;
  font-size: 15px;
  width: 42px;
  height: 42px;
  line-height: 42px;
}
.btn_5cd59d20313f8 {
  padding-top: 22px;
  padding-right: 45px;
  padding-bottom: 22px;
  padding-left: 45px;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: bold;
}
.btn_5cd59d20313f8:before {
  background-color: #2033aa;
}
.btn_5cd59d20313f8:hover {
  color: #ffffff;
}
.btn_5cd59d20313f8:after {
  background-color: #ef2674;
}
.btn_5cd59d20313f8:hover * {
  color: #ffffff !important;
}
.para_el_5cd59d2031c4e {
  top: -10%;
  left: -15%;
}
.row_5cd59d2032475 {
  z-index: 2;
}
#cntr_5cd59d2032aca {
  background-color: #ffffff;
}
#cntr_5cd59d2032aca .counter-title {
}
#cntr_5cd59d2032aca:hover .counter-title {
}
#cntr_5cd59d2032aca:hover .counter-content {
}
#cntr_5cd59d2032aca:hover .counter-number {
}
#cntr_5cd59d2032aca:hover .counter-icon {
}
#cntr_5cd59d2032aca .counter-number {
  color: #2033aa;
  font-size: 48px;
  font-weight: 700;
}
#cntr_5cd59d2032aca .count_befAf {
  color: #2033aa;
  font-size: 48px;
  font-weight: 700;
}
#cntr_5cd59d2032aca .counter-icon {
  color: #333333;
  font-size: 70px;
}
#cntr_5cd59d2032fd2 {
  background-color: #ffffff;
}
#cntr_5cd59d2032fd2 .counter-title {
}
#cntr_5cd59d2032fd2:hover .counter-title {
}
#cntr_5cd59d2032fd2:hover .counter-content {
}
#cntr_5cd59d2032fd2:hover .counter-number {
}
#cntr_5cd59d2032fd2:hover .counter-icon {
}
#cntr_5cd59d2032fd2 .counter-number {
  color: #ef2674;
  font-size: 48px;
  font-weight: 700;
}
#cntr_5cd59d2032fd2 .count_befAf {
  color: #ef2674;
  font-size: 48px;
  font-weight: 700;
}
#cntr_5cd59d2032fd2 .counter-icon {
  color: #333333;
  font-size: 70px;
}
#cntr_5cd59d203349f {
  background-color: #ffffff;
}
#cntr_5cd59d203349f .counter-title {
}
#cntr_5cd59d203349f:hover .counter-title {
}
#cntr_5cd59d203349f:hover .counter-content {
}
#cntr_5cd59d203349f:hover .counter-number {
}
#cntr_5cd59d203349f:hover .counter-icon {
}
#cntr_5cd59d203349f .counter-number {
  color: #2033aa;
  font-size: 48px;
  font-weight: 700;
}
#cntr_5cd59d203349f .count_befAf {
  color: #2033aa;
  font-size: 48px;
  font-weight: 700;
}
#cntr_5cd59d203349f .counter-icon {
  color: #333333;
  font-size: 70px;
}
#cntr_5cd59d2033955 {
  background-color: #ffffff;
}
#cntr_5cd59d2033955 .counter-title {
}
#cntr_5cd59d2033955:hover .counter-title {
}
#cntr_5cd59d2033955:hover .counter-content {
}
#cntr_5cd59d2033955:hover .counter-number {
}
#cntr_5cd59d2033955:hover .counter-icon {
}
#cntr_5cd59d2033955 .counter-number {
  color: #ef2674;
  font-size: 48px;
  font-weight: 700;
}
#cntr_5cd59d2033955 .count_befAf {
  color: #ef2674;
  font-size: 48px;
  font-weight: 700;
}
#cntr_5cd59d2033955 .counter-icon {
  color: #333333;
  font-size: 70px;
}
.head_5cd59d20346bf {
  font-size: 35px;
  letter-spacing: 0px;
}
.head_5cd59d20354d9 {
  font-size: 35px;
  letter-spacing: 0px;
}
.testi-5cd59d20364d6 {
  margin-top: -25px;
  margin-right: -25px;
  margin-left: -25px;
}
.testi-5cd59d20364d6.itr-carousel-slider .slick-slide {
  margin: 25px;
}
.testi-5cd59d20364d6.itr-carousel-slider .slick-dots li button {
  border-color: rgba(0, 0, 0, 0.5) !important;
}
.testi-5cd59d20364d6.itr-carousel-slider .slick-dots li.slick-active button {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.itm-5cd59d20366df.itr-blockquote {
  padding-top: 45px;
  padding-right: 45px;
  padding-bottom: 55px;
  padding-left: 45px;
  border-radius: 25px;
}
.itm-5cd59d20366df.itr-blockquote > svg.slurve-svg {
  fill: url(#svg-5cd59d2036cde);
}
.itm-5cd59d20366df .quote_abs .cls-1 {
  fill: rgba(255, 255, 255, 0.2);
}
.itm-5cd59d20366df .quote_abs {
  bottom: -50px;
  top: auto;
  left: 0px;
  right: auto;
}
.itm-5cd59d20366df .dashed_border {
  border-radius: 25px;
}
.itm-5cd59d20366df .testi_author {
  color: #ffffff;
  font-size: 24px;
}
.itm-5cd59d20366df .testi_slogan {
  color: #ffffff;
}
.itm-5cd59d2036f41.itr-blockquote {
  padding-top: 45px;
  padding-right: 45px;
  padding-bottom: 55px;
  padding-left: 45px;
  border-radius: 25px;
}
.itm-5cd59d2036f41.itr-blockquote > svg.slurve-svg {
  fill: url(#svg-5cd59d20370d4);
}
.itm-5cd59d2036f41 .quote_abs .cls-1 {
  fill: rgba(255, 255, 255, 0.2);
}
.itm-5cd59d2036f41 .quote_abs {
  bottom: -50px;
  top: auto;
  left: 0px;
  right: auto;
}
.itm-5cd59d2036f41 .dashed_border {
  border-radius: 25px;
}
.itm-5cd59d2036f41 .testi_author {
  color: #ffffff;
  font-size: 24px;
}
.itm-5cd59d2036f41 .testi_slogan {
  color: #ffffff;
}
.itm-5cd59d203731f.itr-blockquote {
  padding-top: 45px;
  padding-right: 45px;
  padding-bottom: 55px;
  padding-left: 45px;
  border-radius: 25px;
}
.itm-5cd59d203731f.itr-blockquote > svg.slurve-svg {
  fill: url(#svg-5cd59d20377d7);
}
.itm-5cd59d203731f .quote_abs .cls-1 {
  fill: rgba(255, 255, 255, 0.2);
}
.itm-5cd59d203731f .quote_abs {
  bottom: -50px;
  top: auto;
  left: 0px;
  right: auto;
}
.itm-5cd59d203731f .dashed_border {
  border-radius: 25px;
}
.itm-5cd59d203731f .testi_author {
  color: #ffffff;
  font-size: 24px;
}
.itm-5cd59d203731f .testi_slogan {
  color: #ffffff;
}
.itm-5cd59d2037a1e.itr-blockquote {
  padding-top: 45px;
  padding-right: 45px;
  padding-bottom: 55px;
  padding-left: 45px;
  border-radius: 25px;
}
.itm-5cd59d2037a1e.itr-blockquote > svg.slurve-svg {
  fill: url(#svg-5cd59d2037ec0);
}
.itm-5cd59d2037a1e .quote_abs .cls-1 {
  fill: rgba(255, 255, 255, 0.2);
}
.itm-5cd59d2037a1e .quote_abs {
  bottom: -50px;
  top: auto;
  left: 0px;
  right: auto;
}
.itm-5cd59d2037a1e .dashed_border {
  border-radius: 25px;
}
.itm-5cd59d2037a1e .testi_author {
  color: #ffffff;
  font-size: 24px;
}
.itm-5cd59d2037a1e .testi_slogan {
  color: #ffffff;
}
.row_5cd59d2038900:after {
  background-color: #edf6fc;
  width: 100%;
  height: 100%;
  -webkit-transform: skew(0deg, -6deg);
  transform: skew(0deg, -6deg);
  top: 0%;
}
#teambx_5cd59d2041d85 .team_inner_img:before {
  border-radius: 15px;
}
#teambx_5cd59d2041d85.team-box.team-1 .team_inner_img:before {
  background-color: #edf6fc;
}
#teambx_5cd59d2041d85 .member_name {
  color: #333333;
}
#teambx_5cd59d2041d85 .member_position {
  color: #ef2674;
}
#teambx_5cd59d2041d85 .member_socials .social-list a i {
  color: #ffffff;
}
#teambx_5cd59d2041d85 .member_socials .social-list a i {
  background-color: #ef2674;
}
#teambx_5cd59d2041d85 .member_socials .social-list a {
  border-radius: 3px;
}
#teambx_5cd59d2041d85 .member_socials .social-list a i:last-child {
  background-color: #2033aa;
}
#teambx_5cd59d20428d0 .team_inner_img:before {
  border-radius: 15px;
}
#teambx_5cd59d20428d0.team-box.team-1 .team_inner_img:before {
  background-color: #edf6fc;
}
#teambx_5cd59d20428d0 .member_name {
  color: #333333;
}
#teambx_5cd59d20428d0 .member_position {
  color: #ef2674;
}
#teambx_5cd59d20428d0 .member_socials .social-list a i {
  color: #ffffff;
}
#teambx_5cd59d20428d0 .member_socials .social-list a i {
  background-color: #ef2674;
}
#teambx_5cd59d20428d0 .member_socials .social-list a {
  border-radius: 3px;
}
#teambx_5cd59d20428d0 .member_socials .social-list a i:last-child {
  background-color: #2033aa;
}
#teambx_5cd59d204340a .team_inner_img:before {
  border-radius: 15px;
}
#teambx_5cd59d204340a.team-box.team-1 .team_inner_img:before {
  background-color: #edf6fc;
}
#teambx_5cd59d204340a .member_name {
  color: #333333;
}
#teambx_5cd59d204340a .member_position {
  color: #ef2674;
}
#teambx_5cd59d204340a .member_socials .social-list a i {
  color: #ffffff;
}
#teambx_5cd59d204340a .member_socials .social-list a i {
  background-color: #ef2674;
}
#teambx_5cd59d204340a .member_socials .social-list a {
  border-radius: 3px;
}
#teambx_5cd59d204340a .member_socials .social-list a i:last-child {
  background-color: #2033aa;
}
.row_5cd59d2044327:after {
  background-color: #edf6fc;
  width: 96%;
  height: 100%;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  -webkit-transform: skew(0deg, -5deg);
  transform: skew(0deg, -5deg);
  top: 0%;
}
.icbx_5cd59d2045105 .box_icon {
  color: #ef2674;
  border-width: 1px;
  font-size: 40px !important;
  width: 40px !important;
  --width: 40px !important;
  height: 60px !important;
  --height: 60px !important;
  line-height: calc(var(--height) - 1px) !important;
}
.icbx_5cd59d2045105:hover .box_icon {
}
.icbx_5cd59d204570f .box_icon {
  color: #2033aa;
  border-width: 1px;
  font-size: 40px !important;
  width: 40px !important;
  --width: 40px !important;
  height: 60px !important;
  --height: 60px !important;
  line-height: calc(var(--height) - 1px) !important;
}
.icbx_5cd59d204570f:hover .box_icon {
}
.icbx_5cd59d2046682 .box_icon {
  color: #2033aa;
  border-width: 1px;
  font-size: 40px !important;
  width: 40px !important;
  --width: 40px !important;
  height: 60px !important;
  --height: 60px !important;
  line-height: calc(var(--height) - 1px) !important;
}
.icbx_5cd59d2046682:hover .box_icon {
}
.icbx_5cd59d2046c88 .box_icon {
  color: #ef2674;
  border-width: 1px;
  font-size: 40px !important;
  width: 40px !important;
  --width: 40px !important;
  height: 60px !important;
  --height: 60px !important;
  line-height: calc(var(--height) - 1px) !important;
}
.icbx_5cd59d2046c88:hover .box_icon {
}
.raysgrid.gemini .portfolio-item h4 a,
.filter-by.style1 li.selected a,
.raysgrid.solo .portfolio-item h4 a,
.raysgrid.sublime .port-captions h4 a,
.raysgrid.focus .port-captions p.description a,
.filter-by.style5 ul li.selected a {
  color: #342ecc;
}
.portfolio-item .rsgd_main-bg,
.raysgrid.slick-slider .slick-dots li.slick-active button,
.raysgrid.onair .port-captions p,
.filter-by.style2 ul li.selected a span,
.filter-by.style3 ul li.selected a span,
.filter-by.style4 ul li.selected a span,
.raysgrid.onair .port-captions p,
.raysgrid.rotato .port-captions,
.raysgrid.mass .port-captions,
.raysgrid.mass .icon-links a,
.raysgrid.marbele .port-captions:before,
.raysgrid.astro .port-captions {
  background-color: #342ecc;
  color: #fff;
}
.raysgrid.mass .port-img:before,
.filter-by.style1 li.selected a:before,
.raysgrid.sublime .port-captions,
.raysgrid.resort .portfolio-item:hover .port-container {
  border-color: #342ecc;
}
.raysgrid.ivy .icon-links a:after {
  border-color: #342ecc transparent transparent transparent;
}
.raysgrid.ivy .icon-links a.rsgd_zoom:after {
  border-color: transparent transparent #342ecc transparent;
}
.raysgrid.kara .port-captions:after {
  background-color: rgba(52, 46, 204, 0.75);
}
.filter-by.style2,
.filter-by.style3 ul {
  border-bottom-color: #342ecc;
}
