<div class="main-panel">
  <div class="main-content">
    <div class="content-wrapper">
      <div class="container-fluid">
        <!-- User Profile Starts-->
        <!--Basic User Details Starts-->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/panel/dashboard']">داشبورد</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/panel/profile']">پروفایل کاربری</a></li>
            <li class="breadcrumb-item active" aria-current="page">مشاهده و ویرایش اطلاعات</li>
          </ol>
        </nav>
        <!--Basic User Details Ends-->
        <section id="user-area">
          <div class="row">
            <div class="col-xl-3 col-lg-12">
              <div class="card mb-4">
                <div class="card-header">
                  <div class="card-title-wrap bar-primary">
                    <div class="card-title">اطلاعات شخصی</div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="card-block">
                    <div class="align-self-center halfway-fab text-center">
                      <a class="profile-image">
                        <img src={{photoUrl}} class="rounded-circle img-border gradient-summer width-250"
                          alt="Card image">
                      </a>
                    </div>
                    <div class="text-center">
                      <span class="font-medium-2 text-uppercase">{{user.name}}</span>
                      <p class="grey font-small-2">توسعه دهنده سریع</p>
                    </div>
                    <div class="row">
                      <div class="col-12 col-sm-6">
                        <ul class="no-list-style pr-0 text-center">
                          <li class="mb-2">
                            <span class="text-bold-500 primary"><a><i class="icon-present font-small-3"></i> آخرین ورود
                                :</a></span>
                            <span class="display-block overflow-hidden">{{user.lastActive | persianTimeAgo }}</span>
                          </li>
                          <li class="mb-2">
                            <span class="text-bold-500 primary"><a><i class="ft-mail font-small-3"></i>نام کاربری
                                :</a></span>
                            <a class="display-block overflow-hidden">{{user.userName}}</a>
                          </li>
                        </ul>
                      </div>
                      <div class="col-12 col-sm-6">
                        <ul class="no-list-style pr-0 text-center">
                          <li class="mb-2">
                            <span class="text-bold-500 primary"><a><i class="ft-smartphone font-small-3"></i> شماره تماس
                                :</a></span>
                            <span class="display-block overflow-hidden">{{user.phoneNumber}}</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-9 col-lg-12">
              <!--About div starts-->
              <div id="about">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="card">
                      <div class="card-header">
                        <div class="card-title-wrap bar-success">
                          <h4 class="card-title"> ویرایش اطلاعات کاربری</h4>
                        </div>
                      </div>
                      <div class="alert alert-warning" *ngIf="editForm.dirty">
                        <strong>هشدار!</strong> شما تغییری در اطلاعات انجام داده اید. لطفا تغییرات را ذخیره کنید
                      </div>
                      <div class="card-body">
                        <div class="card-block">
                          <ul class="nav nav-tabs  nav-justified">
                            <li class="nav-item">
                              <a class="nav-link active show" id="home-tab3" data-toggle="tab" href="#home3"
                                aria-controls="home3" aria-expanded="true">عکس پروفایل</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="profile-tab3" data-toggle="tab" href="#profile3"
                                aria-controls="profile3" aria-expanded="false">مشخصات کاربری</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="password-tab3" data-toggle="tab" href="#password3"
                                aria-controls="password3" aria-expanded="false">بازیابی پسورد</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="cart-tab3" data-toggle="tab" href="#cart3" aria-controls="cart3"
                                aria-expanded="false">کارت بانکی</a>
                            </li>
                          </ul>
                          <div class="tab-content px-1 pt-1">
                            <div role="tabpanel" class="tab-pane active show" id="home3" aria-labelledby="home-tab3"
                              aria-expanded="true">
                              <div class="row">

                                <div class="col-md-3">

                                  <h3>انتخاب فایل</h3>

                                  <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                                    (fileOver)="fileOverBase($event)" [uploader]="uploader" class="dropupload"
                                    style="position: relative;">
                                    <br><br>
                                    عکس خود را درگ و یا آپلود کنید
                                    <br><br>
                                  </div>
                                  <input type="file" class="inputupload" ng2FileSelect [uploader]="uploader" />
                                </div>

                                <div class="col-md-9" style="margin-bottom: 40px">
                                  <table class="table">
                                    <thead>
                                      <tr>
                                        <th width="35%">نام</th>
                                        <th>اندازه</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let item of uploader.queue">
                                        <td><strong>{{ item?.file?.name }}</strong></td>
                                        <td *ngIf="uploader.options.isHTML5" nowrap>
                                          {{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                                        <td class="text-center">
                                          <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                          <span *ngIf="item.isCancel"><i
                                              class="glyphicon glyphicon-ban-circle"></i></span>
                                          <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <br><br>
                                  <div>
                                    <div>
                                      وضعیت آپلود:
                                      <div class="progress">
                                        <div class="progress-bar" role="progressbar"
                                          [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                                      </div>
                                    </div>
                                    <button type="button" class="btn btn-success btn-s mt-15 marget15"
                                      (click)="uploader.uploadAll()"
                                      [disabled]="!uploader.getNotUploadedItems().length">
                                      <span class="glyphicon glyphicon-upload"></span> آپلود
                                    </button>
                                    <button type="button" class="btn btn-warning btn-s mt-15 marget15"
                                      (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                                      <span class="glyphicon glyphicon-ban-circle"></span> لغو
                                    </button>
                                    <button type="button" class="btn btn-danger btn-s mt-15 marget15"
                                      (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                                      <span class="glyphicon glyphicon-trash"></span> حذف
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="tab-pane" id="profile3" role="tabpanel" aria-labelledby="profile-tab3"
                              aria-expanded="false">
                              <div class="px-3">
                                <form [formGroup]="editForm" (ngSubmit)="updateUserInfo()" class="form">
                                  <div class="form-body">
                                    <h4 class="form-section">
                                      <i class="icon-user"></i> اطلاعات شخصی</h4>
                                    <div class="row">
                                      <div class="col-md-6">
                                        <div class="form-group"
                                          [ngClass]="{error: editForm.get('name').errors && editForm.get('name').touched}">
                                          <label for="projectinput1">نام</label>
                                          <input type="text" id="projectinput1" class="form-control" name="Name"
                                            formControlName="name" [(ngModel)]="user.name">
                                          <div class="help-block">
                                            <ul role="alert">
                                              <li *ngIf="editForm.get('name').errors && editForm.get('name').touched">
                                                این فیلد نمیتواند خالی باشد
                                              </li>
                                            </ul>
                                          </div>
                                        </div>

                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-md-6">
                                        <div class="form-group"
                                          [ngClass]="{error: editForm.get('userName').errors && editForm.get('userName').touched}">
                                          <label for="projectinput3">نام کاربری(ایمیل)</label>
                                          <input type="text" id="projectinput3" class="form-control" name="UserName"
                                            formControlName="userName" [(ngModel)]="user.userName">
                                          <div class="help-block">
                                            <ul role="alert">
                                              <li *ngIf="editForm.get('userName').errors && editForm.get('userName').touched">
                                                این فیلد نمیتواند خالی باشد
                                              </li>
                                            </ul>
                                          </div>
                                        </div>
                                        <div class="row">
                                          <div class="col-md-6">
                                            <div class="form-group">
                                              <label for="genderinput">جنسیت</label>
                                              <select id="genderinput" name="gender" class="form-control"
                                                [(ngModel)]="user.gender" formControlName="gender">
                                                <option value="true">مرد</option>
                                                <option value="false">زن</option>
                                              </select>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="form-group"
                                          [ngClass]="{error: editForm.get('phoneNumber').errors && editForm.get('phoneNumber').touched}">
                                          <label for="projectinput4">شماره تماس</label>
                                          <input type="text" id="projectinput4" class="form-control" name="phone"
                                            formControlName="phoneNumber" [(ngModel)]="user.phoneNumber">
                                          <div class="help-block">
                                            <ul role="alert">
                                              <li
                                                *ngIf="editForm.get('phoneNumber').errors && editForm.get('phoneNumber').touched">
                                                این فیلد نمیتواند خالی باشد
                                              </li>
                                            </ul>
                                          </div>

                                        </div>
                                      </div>
                                    </div>
                                    <h4 class="form-section">
                                      <i class="icon-book-open"></i>محل سکونت</h4>
                                    <div class="col-md-6">
                                      <div class="form-group">
                                        <label for="cityinput">شهر </label>
                                        <input type="text" id="cityinput" class="form-control" name="cityName"
                                          formControlName="city" [(ngModel)]="user.city">
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label for="addressinput">آدرس</label>
                                      <textarea id="addressinput" rows="5" class="form-control" name="address"
                                        formControlName="address" [(ngModel)]="user.address"></textarea>
                                    </div>
                                  </div>

                                  <div class="form-actions">
                                    <button type="button" class="btn btn-danger mr-1">
                                      <i class="icon-trash"></i> لغو
                                    </button>
                                    <button [disabled]="!editForm.dirty" type="submit" class="btn btn-success">
                                      <i class="icon-note"></i> ذخیره
                                    </button>
                                  </div>
                                </form>
                              </div>
                            </div>
                            <div class="tab-pane" id="cart3" role="tabpanel" aria-labelledby="cart-tab3"
                              aria-expanded="false">
                              <p class="textalign">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                                لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                                کاربردی می باشد.</p>
                            </div>
                            <div class="tab-pane" id="password3" role="tabpanel" aria-labelledby="password-tab3"
                              aria-expanded="false">
                              <div class="px-3">
                                <form (ngSubmit)="updateUserPass()" class="form">
                                  <div class="form-body">
                                    <h4 class="form-section">
                                      <i class="icon-user"></i>تغییر رمز عبور</h4>
                                    <div class="row">
                                      <div class="col-md-6">
                                        <div class="form-group">
                                          <label for="projectinput1">رمز عبور قدیمی</label>
                                          <input type="text" class="form-control" name="oldPassword"
                                            [(ngModel)]="passModel.oldPassword">
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="form-group">
                                          <label for="projectinput2">رمز عبور جدید</label>
                                          <input type="text" class="form-control" name="newPassword"
                                            [(ngModel)]="passModel.newPassword">
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-md-6">
                                        <div class="form-group">
                                          <label for="projectinput3">تکرار رمز عبور جدید</label>
                                          <input type="text" class="form-control">
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="form-actions">
                                    <button type="submit" class="btn btn-success">
                                      <i class="icon-note"></i> تغییر پسورد
                                    </button>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--About div ends-->
            </div>
          </div>
        </section>
        <!--User Profile Starts-->
      </div>
    </div>
  </div>
</div>