.marget15{
    margin-top: 15px;
    margin-left: 10px;
}
.dropupload{
    padding: 50px 0;
    text-align: center;
    border: 4px dashed #c4c4c4;
    border-radius: 5px;
    margin-bottom: 19px;
}
.inputupload {
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 96%;
    height: 62%;
    opacity: 0;
    cursor: pointer;
}